.about {
    padding: 5vh 10vw;
    display: block;
}
p{
    margin-top:0;
}

.chapter {
    margin: 1vh 0;
    display: inline-block;
}
.img-div{
    width: 50%;
    display: inline-block;
}
.text-div{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.about-img{
    border-radius: 1vh;
    box-shadow: 3px 3px 3px rgb(85, 85, 85);
    max-width: 100%;
}

@media only screen and (min-width: 1400px) {
    .about {
        padding: 5vh 20vw;
    }
}