.header-wrapper {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  max-height: 200px;
}

.profileImg {
  max-height: 150px;
  max-width: 150px;
  border-radius: 100px;
}

.menu-name-wrapper {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-between;
}

.name-span {
  margin-left: 3vw;
  font-size: 100px;
}
@media only screen and (max-width: 1000px) {
  .name-span {
    margin-left: 3vw;
    font-size: 60px;
  }
  .profileImg {
    max-height: 100px;
    max-width: 100px;
    border-radius: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .name-span {
    margin-left: 3vw;
    font-size: 36px;
  }
}
