.menu {
    display: table;
    text-align: center;
    width: 100%;
    table-layout: fixed;
    background-color: rgb(182, 182, 182);
    
}
.nav-link {
    font-size: 2vw;
    display: table-cell;
    text-align: center;
    padding: 5px;

}
.nav-link:hover {
    cursor: pointer;
    font-weight: bolder;
    background-color: rgb(143, 143, 143);
}

a:visited {
    color: rgb(0, 56, 70);
}

.current-view {
    font-weight: bold;
    background-color: white;
    padding-bottom: -10px;
}
@media only screen and (max-width: 600px) {
    .nav-link {
        font-size: 4vw;
    }
}
@media only screen and (min-width: 1200px) {
    .nav-link {
        font-size: 26px;
    }
}