.projects {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.project-wrapper {
  display: flex;
  width: 100%;
  flex: 0 0 auto;
}
.project-item {
  flex: 1;
}
.project-item > div {
  margin-bottom: 10px;
}
.project-video {
  flex: 1;
}
@media only screen and (min-width: 1000px) {
}

@media only screen and (max-width: 600px) {
  .project-wrapper {
    flex-direction: column;
  }
}
