.resume {
  padding: 0 5vw;
  width: 100%;
}
.pdf-doc {
  width: 100%;
}
.dl-pdf {
  margin-left: 12vw;
  background-color: rgb(59, 145, 62);
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 1.5vw;
}
.dl-pdf:hover {
  cursor: pointer;
  background-color: rgb(68, 161, 71);
}
i.fa {
  margin: 0 10px;
}
