.projects {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.project-wrapper {
  display: flex;
  width: 100%;
  flex: 0 0 auto;
  padding: 25px 10vw;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.project-item {
  flex: 1;
  font-family: "Calibri", sans-serif;
  box-sizing: border-box;
}
.project-item > div {
  margin-bottom: 10px;
}
.project-item p {
  width: 70%;
}
.project-video {
  flex: 1;
}
@media only screen and (max-width: 1000px) {
  .project-wrapper {
    flex-direction: column;
    padding: 25px;
  }
  .project-item p {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
}
