/*Positioning CSS in the .App class*/
.App {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}
.App-header {
  display: block;
  box-sizing: border-box;
}
.content {
  margin-bottom: 60px;
  overflow: auto;
  display: inline-flex;
}

/* 
Att lägga till för mobil och små laptops 

@media only screen and (max-width: 600px) {
  
}
*/
